{% load static %}
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a href="" class="logo d-flex align-items-center">
      <img src="" alt="" />
      <span class="d-none d-lg-block">E-Skolar</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" >
          {% comment %} <img src="{% static 'assets/img/avatar.svg' %}" alt="Profile" class="rounded-circle" /> {% endcomment %}
          <span class="d-none d-md-block ps-2">Welcome, {{user.first_name}} {{user.last_name}}!</span>
        </a>

      </li>
    </ul>
  </nav>

</header>

<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">

    {% if request.user.role == "student" %}
    <li class="nav-item">
      <a href="{% url 'scholar:home' %}" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

     <li class="nav-item">
      <a href="{% url 'scholar:open-scholarship' %}" class="nav-link {% if 'scholarship' in request.path %}active{% else %}collapsed{% endif %}">
        <i class="bi bi-file-plus"></i>
        <span>Scholarships</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:application-status' %}" class="nav-link collapsed">
        <i class="bi bi-check-circle"></i>
        <span>Application Status</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:profile' %}" class="nav-link collapsed">
        <i class="bi bi-person"></i>
        <span>My Profile</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:information' %}" class="nav-link collapsed">
        <i class="bi bi-info-circle"></i>
        <span>Information</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:logout' %}" class="nav-link collapsed">
        <i class="bi bi-arrow-right"></i>
        <span>Logout</span>
      </a>
    </li>
    {% elif request.user.role == "admin" %}
    <li class="nav-item">
      <a href="{% url 'scholar:admin-dashboard' %}" class="nav-link collapsed">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:manage-scholarship' %}" class="nav-link collapsed">
        <i class="bi bi-book"></i>
        <span>Manage Scholarship</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:manage-user' %}" class="nav-link collapsed">
        <i class="bi bi-person"></i>
        <span>Manage User</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:activity-logs' %}" class="nav-link collapsed">
        <i class="bi bi-gear"></i>
        <span>Activity Logs</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'scholar:logout' %}" class="nav-link collapsed">
        <i class="bi bi-arrow-right"></i>
        <span>Logout</span>
      </a>
    </li>
    {% endif %}

  </ul>
</aside>
