{% extends 'base.html' %}
{% load static %}
{% block title %}
  E-Skolar | Information
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
{% endblock %}
{% block content %}
  {% include 'includes/sidebar.html' %}

  <section class="section mt-2">
    <div class="container">
      <form method="post" id="student_information_form">.
        {% csrf_token %}
        <div class="progress-container mb-4 position-relative">
          <ul id="progressbar" class="d-flex justify-content-between px-0">
            <li class="active" id="step1"><strong>Basic Information</strong></li>
            <li id="step2"><strong>Family Information</strong></li>
          </ul>
        </div> 
        <div class="card p-3">
          <div class="step" id="step1">
            <div class="card-header border border-0 text-center">
              <h4 class="fw-bold information-header">Basic Information</h4>
            </div>
            <div class="card-body information-body">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-12">
                  {{form.first_name.label_tag}}
                  {{form.first_name}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.last_name.label_tag}}
                  {{form.last_name}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.middle_name.label_tag}}
                  {{form.middle_name}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.gender.label_tag}}
                  {{form.gender}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.civil_status.label_tag}}
                  {{form.civil_status}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.birth_date.label_tag}}
                  {{form.birth_date}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.school_enrolled.label_tag}}
                  {{form.school_enrolled}}
                </div>
                <div class="col-lg-8 col-md-12">
                  {{form.phone_number.label_tag}}
                  {{form.phone_number}}
                </div>
                <div class="col-12">
                  {{form.address.label_tag}}
                  {{form.address}}
                </div>
                <div class="text-end">
                  <button type="button" class="next-btn">Next</button>
                </div>
              </div>
            </div>
          </div>
          <div class="step" id="step2">
            <div class="card-header border border-0 text-center">
              <h4 class="fw-bold information-header">Family Background</h4>
            </div>
            <div class="card-body information-body">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_last_name.label_tag}}
                  {{form.fathers_last_name}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_first_name.label_tag}}
                  {{form.fathers_first_name}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_middle_name.label_tag}}
                  {{form.fathers_middle_name}}
                </div>
                <div class="col-lg-8 col-md-12">
                  {{form.fathers_home_address.label_tag}}
                  {{form.fathers_home_address}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_contact_no.label_tag}}
                  {{form.fathers_contact_no}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_occupation.label_tag}}
                  {{form.fathers_occupation}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_citizenship.label_tag}}
                  {{form.fathers_citizenship}}
                </div>
                <div class="col-lg-4 col-md-12">
                  {{form.fathers_religion.label_tag}}
                  {{form.fathers_religion}}
                </div>
                <div class="row gy-4 mt-3">
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_last_name.label_tag}}
                    {{form.mothers_last_name}}
                  </div>
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_first_name.label_tag}}
                    {{form.mothers_first_name}}
                  </div>
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_middle_name.label_tag}}
                    {{form.mothers_middle_name}}
                  </div>
                  <div class="col-lg-8 col-md-12">
                    {{form.mothers_home_address.label_tag}}
                    {{form.mothers_home_address}}
                  </div>
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_contact_no.label_tag}}
                    {{form.mothers_contact_no}}
                  </div>
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_occupation.label_tag}}
                    {{form.mothers_occupation}}
                  </div>
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_citizenship.label_tag}}
                    {{form.mothers_citizenship}}
                  </div>
                  <div class="col-lg-4 col-md-12">
                    {{form.mothers_religion.label_tag}}
                    {{form.mothers_religion}}
                  </div>
                </div>
                <div class="text-end">
                  <button type="button" class="back-btn">Back</button>
                  <button type="submit" class="next-btn">Submit</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </form>
    </div>
  </section>
  {% include "includes/messages.html" %}
{% endblock %}