{% extends 'base.html' %}
{% load static %}
{% block title %}
  E-Skolar | Manage Scholarship
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
{% endblock %}

{% block content %}
  {% include 'includes/sidebar.html' %}

  <section class="section manage_scholarship">
    <h1>Manage Scholarship</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a href="{% url 'scholar:admin-dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item">Scholarship</li>
      </ol>
    </nav>

    <div class="card mb-4 shadow">
      <div class="card-header py-2 px-3">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-available-scholarship-tab" data-bs-toggle="pill" data-bs-target="#pills-available-scholarship" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Available Scholarships</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-pills-saved-scholarship-tab" data-bs-toggle="pill" data-bs-target="#pills-saved-scholarship" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Closed Scholarship</button>
          </li>
        </ul>
      </div>
      <div class="card-body tab-content mt-4 pb-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-available-scholarship" role="tabpanel" aria-labelledby="pills-available-scholarship-tab" tabindex="0">
          <div class="input-group mb-3">
            <input type="search" placeholder="Search for scholarship..." id="search_admin" class="form-control" />
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
          </div>
          <div class="mb-3 text-end ">
            <button class="btn btn-primary add_scholar" data-bs-toggle="modal" data-bs-target="#createScholarshipModal">Create Scholarship</button>
          </div>
          
          <div class="scholarship-container">
            {% for scholarship in scholarships %}
              <div class="card border scholar-details">
                <div class="card-body scholar-details-body">
                  <div class="row py-2">
                    <div class="col-7">
                      <h3 class="fw-bold m-0 scholarship-name">{{ scholarship.scholarship_name }}</h3>
                      <p class="small fw-semibold">{{scholarship.grant_officer}}</p>
                      <p class="small m-0">{{ scholarship.description|slice:40 }}...</p>
                    </div>
                    <div class="col-5 text-end position-relative">
                      <div class="dropdown dropup d-inline">
                        <button class="btn btn-light btn-sm p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateScholarshipModal{{scholarship.id}}">Update</a>
                          </li>
                          <li>
                            <a class="dropdown-item text-danger" onclick="archivedAndCloseConfirmation('{{scholarship.id}}', 'close')">Close</a>
                          </li>
                        </ul>
                      </div>
                      <p class="m-0 small mt-4 text-danger">Deadline: {{ scholarship.deadline|date:'F j, Y' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              <p class="text-center text-muted text-danger fw-bold no-scholarship-yet">No scholarships created yet.</p>
            {% endfor %}
          </div>
          <p id="no-results_admin" class="text-center mt-3 text-danger fw-bold" style="display: none;">No scholarships found.</p>
        </div>
        <div class="tab-pane fade" id="pills-saved-scholarship" role="tabpanel" aria-labelledby="pills-pills-saved-scholarship-tab" tabindex="0">
          <div class="col-12 input-group mb-3">
            <input type="search" placeholder="Search for closed scholarship..." id="search2" class="form-control" />
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
          </div>
          <div class="scholarship-container">
            {% for scholarship in closed_scholarships %}
              <div class="card border scholar-details">
                <div class="card-body scholar-details-body">
                  <div class="row py-2">
                    <div class="col-7">
                      <h3 class="fw-bold m-0 scholarship-name">{{ scholarship.scholarship_name }}</h3>
                      <p class="small">{{scholarship.grant_officer}}</p>
                      <p class="small m-0">{{ scholarship.description|slice:40 }}...</p>
                    </div>
                    <div class="col-5 text-end position-relative">
                      <div class="dropdown dropup d-inline">
                        <button class="btn btn-light btn-sm p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateScholarshipModal{{scholarship.id}}">Update</a>
                          </li>
                          <li>
                            <a class="dropdown-item text-success" onclick="archivedAndCloseConfirmation('{{scholarship.id}}', 'open')">Open</a>
                          </li>
                        </ul>
                      </div>
                      <p class="m-0 small mt-4 text-danger">Deadline: {{ scholarship.deadline|date:'F j, Y' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            {% empty %}
              <div class="col-12 d-flex align-items-center justify-content-center flex-column">
                <h3 class="fw-bold">No closed scholarships</h3>
                <p>There's no closed scholarships yet.</p>
              </div>
            {% endfor %}
          </div>
          <p id="no-results2" class="text-center mt-3 text-danger fw-bold" style="display: none;">No scholarships found.</p>
        </div>
      </div>
    </div>
  </section>

  {% comment %} Create Scholar {% endcomment %}
  <form method="post" class="row g-3" id="form_create_scholarship" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="createScholarshipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Scholarship</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary create_scholarship_btn" >Create</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% comment %} End of create scholar {% endcomment %}

  {% comment %} Update Scholar {% endcomment %}
  {% for scholarship, form in scholarship_forms %}
  <form method="post" class="row g-3" id="form_update_scholarship" enctype="multipart/form-data" action="{% url 'scholar:update-scholarship' scholarship.id %}">
    {% csrf_token %}
    <div class="modal fade" id="updateScholarshipModal{{scholarship.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel{{scholarship.id}}">Update {{ scholarship.scholarship_name }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            {{form.as_p}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary create_scholarship_btn" >Update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endfor %}
  {% comment %} End of update Scholar {% endcomment %}
  {% include "includes/messages.html" %}
  <script>
    const csrfToken = '{% csrf_token %}'
  </script>
{% endblock %}
