{% extends "base.html" %} 
{% load static%} 
{% block title %} E-Skolar 
{% endblock title %} 

{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/styles.css' %}" />
{% endblock css %}
 
{% block content %} 
{% include "includes/sidebar.html" %}

<section class="section student_dashboard mt-5">
  <div class="row">

    <!-- <div class="col-xxl-3 col-md-6">
      <div class="card d-flex justify-content-center">
        <div class="card-body">
          <div class="card-title">

          </div>
        </div>
      </div>
    </div> -->

  </div>
</section>
{% include "includes/messages.html" %}
{% endblock content %}
